.reload, .set {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 4px;
    text-align: center;
    display: inline-block;
}

.reload:hover, .set:hover {
    cursor: pointer;
}

.error {
    margin: 4px auto;
    padding: 5px;
    width: 50%;
    border: 1px solid #F62217;
}

.message {
    padding: 5px;
    margin: 4px;
    border: 1px solid #ccc;
}

.message.active {
    background-color: #aaa;
}

.message:hover {
    cursor: pointer;
}

.message-large {
    padding: 10px;
    border: 1px solid #ccc;
}

.close {
    position: fixed;
    top: 5px;
    left: 50%;
    text-align: center;
    width: 5em;
    background-color: #999;
    color: #fff;
    padding: 2px;
}

.close:hover {
    cursor: pointer;
}

.headers {
    font-weight: bold;
    padding: 5px 0px;
}

.body {
    padding: 5px 0px;
}